.appointmentComponent {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 10px 10px;
  color: "gray";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
